/* line 17, ../sass/screen.sass */
body {
  min-width: 320px;
  height: 100%;
  font-family: Tahoma, sans-serif;
  font-size: 14px;
  color: #0e4d66;
  background: url(../../img/backgr.jpg) no-repeat -5px 0;
}

/* line 25, ../sass/screen.sass */
html {
  height: 100%;
}

/* line 28, ../sass/screen.sass */
ol, ul {
  list-style-type: none;
}

/* line 31, ../sass/screen.sass */
* {
  margin: 0;
  padding: 0;
  outline: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 40, ../sass/screen.sass */
a:focus {
  outline: none;
}

/* line 43, ../sass/screen.sass */
.clearfix:after,
.clearfix:before {
  content: "";
  display: table;
}

/* line 48, ../sass/screen.sass */
.clearfix:after {
  clear: both;
}

/* line 51, ../sass/screen.sass */
.wrapper {
  margin: 0 auto;
  width: 740px;
}
/* line 54, ../sass/screen.sass */
.wrapper header {
  margin-top: 49px;
}

/* line 57, ../sass/screen.sass */
.main-logo-block {
  margin: 0 auto;
  width: 300px;
}
/* line 60, ../sass/screen.sass */
.main-logo-block div {
  display: inline-block;
}

/* line 63, ../sass/screen.sass */
.logo-block {
  margin-left: 23px;
}

/* line 66, ../sass/screen.sass */
.brand {
  position: relative;
  top: -8px;
  left: 17px;
}

/* line 70, ../sass/screen.sass */
nav {
  margin-top: 35px;
}
/* line 72, ../sass/screen.sass */
nav .menu li {
  display: inline-block;
  padding: 22px 56px 22px 28px;
}
/* line 75, ../sass/screen.sass */
nav .menu li:first-child {
  background: url(../../img/desktop-icon.png) no-repeat 0 26px;
}
/* line 77, ../sass/screen.sass */
nav .menu li:nth-child(2) {
  background: url(../../img/twitter-icon.png) no-repeat 0 26px;
}
/* line 79, ../sass/screen.sass */
nav .menu li:nth-child(3) {
  padding: 22px 49px 22px 24px;
  background: url(../../img/facebook-icon.png) no-repeat 3px 24px;
}
/* line 82, ../sass/screen.sass */
nav .menu li:nth-child(4) {
  padding: 22px 42px 22px 32px;
  background: url(../../img/vk-icon.png) no-repeat 13px 27px;
}
/* line 85, ../sass/screen.sass */
nav .menu li:last-child {
  padding: 22px 0 22px 42px;
  background: url(../../img/google-icon.png) no-repeat 18px 25px;
}
/* line 88, ../sass/screen.sass */
nav .menu li a {
  font-family: Tahoma, sans-serif;
  font-size: 16px;
  color: #f1f1f1;
  text-transform: uppercase;
  letter-spacing: 1px;
}
/* line 94, ../sass/screen.sass */
nav .menu li a:hover {
  text-decoration: none;
}

/* line 97, ../sass/screen.sass */
section {
  position: relative;
  width: 100%;
  height: 823px;
  background: #f3f3f3;
  border-radius: 10px;
}
/* line 103, ../sass/screen.sass */
section .name-block {
  margin-bottom: 22px;
  padding-top: 40px;
}
/* line 106, ../sass/screen.sass */
section .name-block h1 {
  margin-left: 65px;
  font-size: 24px;
  font-weight: bold;
  color: #0e4d66;
  padding: 5px;
}

/* line 113, ../sass/screen.sass */
.user-image {
  width: 252px;
  height: 192px;
  float: left;
}
/* line 117, ../sass/screen.sass */
.user-image img {
  margin-left: 66px;
}

/* line 120, ../sass/screen.sass */
.user-info {
  width: 418px;
  height: 192px;
  float: left;
}
/* line 124, ../sass/screen.sass */
.user-info table {
  width: 370px;
  border-collapse: collapse;
}
/* line 127, ../sass/screen.sass */
.user-info table tr, .user-info table td {
  padding: 0 0 16px 27px;
}
/* line 129, ../sass/screen.sass */
.user-info table .tbl-title {
  width: 33%;
  font-weight: bold;
}
/* line 132, ../sass/screen.sass */
.user-info table .tbl-answ {
  width: 30%;
}

/* line 135, ../sass/screen.sass */
.contact-table {
  margin: 24px 5px 5px 63px;
  width: 205px;
  height: 100px;
}
/* line 139, ../sass/screen.sass */
.contact-table caption {
  font-size: 18px;
  font-weight: bold;
}
/* line 142, ../sass/screen.sass */
.contact-table tr, .contact-table td {
  padding: 16px 0px 0px 6px;
  font-size: 14px;
}
/* line 145, ../sass/screen.sass */
.contact-table .tbl-titl1 {
  font-weight: bold;
}
/* line 147, ../sass/screen.sass */
.contact-table .tbl-answ2 {
  font-weight: normal;
}
